<!DOCTYPE HTML>

<!--
	Proyecto de Lenguaje de Señas EEUU
	
	Por: Andres Felipe Guerra Vargas Código 2211058
         Carlos Arbey Mejía Martínez Código: 2210549
-->
<html>
	<head>
	
		<!-- NOMBRE PAGINA //-->
		<title>LENGUAJE DE SEÑAS EEUU - IA</title>
		
		<!-- ICONO PAGINA ETIQUETA //-->
		<link rel="shortcut icon" type="image/x-icon" href="images/avatar.jpg"/>
		
		<!-- INFO PAGINA //-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		
		<!-- HOJAS DE ESTILO //-->
		<link rel="stylesheet" href="assets/css/main.css" />
				
		<!-- Scripts de Mediapipe-->
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
        
		<!-- BLOQUEO COPIA INFORMACIÓN //-->
        <script language="Javascript">
		<!-- Begin
		function disableselect(e){
		return false
		}
		function reEnable(){
		return true
		}
		document.onselectstart=new Function ("return false")
		if (window.sidebar){
		document.onmousedown=disableselect
		document.onclick=reEnable
		}
		</script>
				
	</head>
  
  <body>
  
  <header>
		<h2 align="center">LENGUAJE DE SEÑAS EEUU</h2>
  </header>
   <img src="{{ url_for('video') }}" align="center" width="750px" height="450px"/>
  </body>
  
</html>